.track {
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;

  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-left: 10px;
    cursor: pointer;
  }

  &__info {
    width: 200px;
    margin: 0 20px;
  }

  &__name {
    cursor: pointer;
    color: #000;
    text-decoration: none;
  }

  &__artist {
    font-size: 12px;
    color: gray;
  }

  &__delete {
    margin-left: auto;
  }
}